---
---
@import "main.scss";

.slide-page .course-list img {
  height: calc(13.86vw - 17.2px);
  @media screen and (min-width:800px) {
    height: 119.7px; // (800px * 0.33 - 36px) * (630/1200 = 0.525)
  }
  @media screen and (max-width: 800px) {
    height: calc(((100vw - 48px) * 0.33 - 32px) * 0.525);
  }
  @media screen and (max-width: 700px) {
    height: calc((100vw - 48px - 24px - 4px) * 0.525);
  }
}

.slide-page {
  max-width: 800px;
  margin: 12px auto;
  @media screen and (max-width:800px) {
    padding: 12px 24px;
  }
}
.slides-top {
  display: flex;
  margin-top: 12px;
  align-items: flex-end;
}
.slides-top-info {
  width: 100%;
}
.link-to-parent {
  display: block;
  color: $darkgray;
  font-size: 1.2em;
  margin-bottom: -0.5em;
}
#slidesCover {
  position: relative;
}
#slides {
  margin: auto;
  clear: both;
  p {
    margin: 0;
  }
  .slide {
    border: solid 4px #888;
    box-sizing: border-box;
    left: 0;
    right: 0;
    height: 450px;
    width: 100%;
  }
  img, iframe {
    height: 450px;
    width: 100%;
  }
  iframe {
    z-index: 1;
    position: relative;
  }
  @media screen and (max-width:800px) {
    .slide {
      width: calc(100vw - 48px);
      left: 24px;
      height: calc((100vw - 48px) / 16 * 9);
    }
    img, iframe {
      height: calc((100vw - 48px) / 16 * 9);
    }
  }
}
.slide {
  display: flex;
}
#slideRight, #slideLeft {
  width: 50%;
  height: 100%;
}
.progress-cover {
  display: flex;
}
.progress-bar {
  height: 16px;
  background-color: #ddd;
  border-radius: 12px;
  margin-top: 8px;
  width: 100%;
  display: inline-block;
}
#progress-container {
  background-color: $main-color;
  height: 100%;
  border-radius: 8px;
}
#progress-number {
  font-weight: 600;
  color: $darkgray;
  text-align: right;
}

.slide-buttons {
  display: flex;
}
.slide-navbar {
  background: #fff;
  border-radius: 2em;
  padding: .5em 2em;
  margin-top: 1rem;
  display: grid;
  grid-template-columns: auto 1fr auto;
  a {
    text-decoration: none;
    font-weight: 500;
  }
}
.link-pdf {
  display: inline-block;
  margin-top: .2em;
}
.course-title {
  margin: 0 1em;
  font-size: 1.2rem;
  display: inline-block;
  color: $darkgray;
  &::before {
    content: '';
    display: inline-block;
    width: 2px;
    border-radius: 1px;
    background: $lightgray;
    height: 1em;
    margin-right: 1em;
    vertical-align: middle;
  }
}
.page-button {
  font: inherit;
  -webkit-appearance: none;
  border: none;
  background: none;
  color: $main-color;
  cursor: pointer;
  font-size: 1.8rem;
  &:disabled {
    opacity: 0.4;
    cursor: default;
  }
}
.button-export {
  display: inline-block;
  width: 160px;
}
@media screen and (max-width:720px) {
  .slides-top {
    flex-wrap: wrap;
    margin-bottom: 6px;
  }
  .button-export {
    width: 100%;
  }
}

.course-buttons {
  display: flex;
  margin-bottom: 12px;
  @media screen and (max-width:720px) {
    width: 100%;
    margin-bottom: 6px;
  }
}

.scratch { background: #ffb801 }
.minecraft { background: #8bca31 }
.normal { border-color: #ffb801 }
.normal::before { color: #ffb801 }
.easy{ border-color: #8bca31 }
.easy::before { color: #8bca31 }
.hard { border-color: #ff81ae }
.hard::before { color: #ff81ae }
