---
---
$main-color: #1886c4;
body {
  margin: 0;
}
h2 {
  color: #444;
  font-weight: 600;
}
.post-content {
  overflow: hidden;
}
#slidesCover {
  max-width: 800px;
  margin: auto;
  position: relative;
  height: 100vh;
}
#slides {
  margin: auto;
  p {
    margin: 0;
  }
  img, iframe {
    border: solid 4px #888;
    box-sizing: border-box;
    max-height: 60vh;
    left: 0;
    right: 0;
    max-width: 100%;
  }
  iframe {
    width: 100%;
    height: 454px;
  }
}
.progress-bar {
  height: 16px;
  background-color: #ddd;
  border-radius: 12px;
  margin-top: 8px;
  width: 80%;
  display: inline-block;
}
#progress-container {
  background-color: $main-color;
  height: 100%;
  border-radius: 8px;
}
.slide-buttons {
  display: flex;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 24px;
  input {
    -webkit-appearance: none;
    border: solid 4px $main-color;
    border-radius: 4px;
    width: calc(50% - 3px);
    padding: 12px;
    font-weight: bold;
    font-size: 1.6em;
    display: block;
    outline: none;
    &:disabled {
      opacity: 0.4;
    }
  }
  .button-back {
    margin-right: 6px;
    background-color: #fff;
    color: $main-color;
  }
  .button-next {
    background-color: $main-color;
    color: #fff;
  }
}
.label {
  background-color: #eee;
  padding: 8px;
  margin: 4px;
  border-radius: 4px;
  text-decoration: none;
  color: #444;
  display: inline-block;
}
