---
---
body {
  margin: 0;
}
.post-content {
  overflow: hidden;
}
#slides {
  margin: auto;
  p {
    margin: 0;
  }
  img {
    border: solid 4px #888;
    box-sizing: border-box;
    max-height: 60vh;
    margin: calc((40vh - 8px)/2) auto;
    position: absolute;
  }
}

.slide-buttons {
  position: absolute;
  right: 24px;
  bottom: 24px;
  input {
    -webkit-appearance: none;
    border: none;
    border-radius: 4px;
    width: 120px;
    background-color: #1886c4;
    padding: 12px;
    color: #fff;
    font-weight: bold;
    font-size: 2em;
  }
}
