---
---
$main-color: #1886c4;
$text-color: #222;
$darkgray: #555;
$bg-gray: #f5fdff;
body {
  margin: 0;
  color: $text-color;
  background-color: $bg-gray;
  * {
    box-sizing: border-box;
  }
}
h2 {
  color: $text-color;
  font-weight: 600;
}
header {
  background-color: #fff;
  height: 60px;
  margin: 6px 10vw;
  position: relative;
  border-radius: 30px;
  box-shadow: 0 0 6px #799baf77;
  ul {
    list-style: none;
    line-height: 60px;
    margin: 0;
    padding: 0;
    display: inline-block;
    position: absolute;
    right: 40px;
    li {
      margin-right: 4px;
      display: inline-block;
    }
    a {
      font-weight: 500;
      text-decoration: none;
      color: $darkgray;
    }
  }
}
.course-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  li {
    list-style: none;
    width: calc(33% - 24px);
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 6px 0 #ccdae6;
    margin: 12px;
    a {
      text-decoration: none;
      color: $text-color;
      font-weight: 500;
      display: block;
      padding: 12px;
    }
    img {
      width: 100%;
      border-radius: 5px;
    }
  }
}
.main {
  margin: auto 10vw;
}
.page-course {
  h2 {
    display: inline-block;
  }
}
#slidesCover {
  max-width: 800px;
  margin: auto;
  position: relative;
  height: 100vh;
}
#slides {
  margin: auto;
  p {
    margin: 0;
  }
  .slide {
    border: solid 4px #888;
    box-sizing: border-box;
    left: 0;
    right: 0;
    height: 450px;
    width: 100%;
    position: absolute;
  }
  img, iframe {
    height: 450px;
    width: 100%;
  }
}
.progress-bar {
  height: 16px;
  background-color: #ddd;
  border-radius: 12px;
  margin-top: 8px;
  width: 80%;
  display: inline-block;
}
#progress-container {
  background-color: $main-color;
  height: 100%;
  border-radius: 8px;
}
#progress-number {
  font-weight: 600;
  color: $darkgray;
}
.button {
  -webkit-appearance: none;
  border: solid 4px $main-color;
  border-radius: 4px;
  padding: 12px;
  font-weight: bold;
  outline: none;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  &:hover {
    opacity: 0.7;
  }
}
.slide-buttons {
  display: flex;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 24px;
  input {
    width: calc(50% - 3px);
    font-size: 1.6em;
    display: block;
    &:disabled {
      opacity: 0.4;
      cursor: default;
    }
  }
  .button-back {
    margin-right: 6px;
    background-color: #fff;
    color: $main-color;
  }
  .button-next {
    background-color: $main-color;
    color: #fff;
  }
}
.button-export {
  display: inline-block;
  float: right;
  color: $main-color;
}
.label {
  background-color: #eee;
  padding: 8px;
  margin: 4px;
  border-radius: 4px;
  text-decoration: none;
  color: $darkgray;
  display: inline-block;
}
