{% if include.category %}
{% assign courses = site.courses | where_exp:"course","course.category == include.category and course.difficulty == include.difficulty" %}
{% else %}
{% assign courses = site.courses | where_exp:"course","course.category == page.categoryname and course.difficulty == include.difficulty" %}
{% endif %}
{% assign courses = courses | where_exp:"course","course.parent == nil" %}
{% if site.lang == "kana" %}
  {% assign courses = courses | where_exp:"course","course.path contains 'ja'" %}
{% else %}
  {% assign courses = courses | where_exp:"course","course.path contains site.lang" %}
{% endif %}
<div id="{{ include.difficulty }}">
{% if courses.size > 0 %}
<h2>{% t difficulty.{{ include.difficulty }} %}</h2>
{% endif %}
<ul class="course-list">
{% for course in courses %}
{% capture thumbnail %}{% if course.thumbnail %}{{ course.thumbnail }}{% else %}{{ course.slides[0] }}{% endif %}{% endcapture %}
<li><a href="{{ site.baseurl }}{{ course.url }}" class="card-list-item"><img data-src="{{ site.url }}/assets/course/{{ course.category }}/{{ course.course-name }}{{ thumbnail }}" data-width="348" alt="{{ course.title }}" loading="lazy"><p class="course-list-title">{% if site.lang == 'kana' and course.title-kana %}{{course.title-kana}}{% else %}{{course.title}}{% endif %}</p></a></li>
{% endfor %}
</ul>
</div>
