<footer>
  <ul>
    <li><a href="{{ site.baseurl }}/usage">{% t usage.title %}</a></li>
    <li><a href="{{ site.baseurl }}/#allmenu">全てのメニュー</a></li>
    <li><a href="{{ site.baseurl }}/#newcourse">最近追加されたコース</a></li>
  </ul>
  <ul>
    <li><a href="{{ site.baseurl }}/about">{% t about.title %}</a></li>
    <li><a href="{{ site.baseurl }}/term-of-use">{% t termOfUse.title %}</a></li>
    <li><a href="{{ site.baseurl }}/privacy">{% t privacy.title %}</a></li>
  </ul>
  <ul>
    <li><a href="{{ site.baseurl }}/faq">{% t faq.title %}</a></li>
    <li><a href="{{ site.baseurl }}/contact">{% t contact.title %}</a></li>
  </ul>
  &copy; 2020 slidelearn
</footer>
