<footer>
  <div class="footer-flex">
    <div class="footer-list footer-logoblock">
      <ul>
        <li><a href="{{ site.baseurl }}/"><img src="{{ logosrc | split: ' ' }}" alt="{% t title %}" class="footer-logo"></a></li>
        <li>
          <ul class="footer-sns-buttons">
            <li>
              <a href="https://twitter.com/mekuruncom" target="_blank" rel="noopener" class="footer-sns" clr="tw"><i class="fab fa-twitter"></i></a>
            </li>
            <li>
              <a href="https://www.facebook.com/mekuruncom" target="_blank" rel="noopener" class="footer-sns" clr="fb"><i class="fab fa-facebook"></i></a>
            </li>
            <li>
              <a href="https://github.com/Mekurun" target="_blank" rel="noopener" class="footer-sns" clr="gh"><i class="fab fa-github"></i></a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="footer-list">
      <h2>{% t footer.service %}</h2>
      <ul>
        <li><a href="{{ site.baseurl }}/courses/">{% t courses.title %}</a></li>
        <li><a href="{{ site.baseurl }}/#newcourse">{% t top.recent %}</a></li>
        <!-- <li><a href="{{ site.baseurl }}/projects">{% t projects.title %}</a></li> -->
        <li><a href="{{ site.baseurl }}/tips/">{% t tips.title %}</a></li>
        <li><a href="{{ site.baseurl }}/news/">{% t news.title %}</a></li>
      </ul>
    </div>
    <div class="footer-list">
      <h2>{% t footer.forUsers %}</h2>
      <ul>
        <li><a href="{{ site.baseurl }}/about/">{% t about.title %}</a></li>
        <li><a href="{{ site.baseurl }}/usage/">{% t usage.title %}</a></li>
        <li><a href="{{ site.baseurl }}/term-of-use/">{% t termOfUse.title %}</a></li>
        <li><a href="{{ site.baseurl }}/privacy/">{% t privacy.title %}</a></li>
      </ul>
    </div>

    <div class="footer-list">
      <h2>{% t footer.support %}</h2>
      <ul>
        <li><a href="{{ site.baseurl }}/supporter/">{% t supporter.title %}</a></li>
        <li><a href="{{ site.baseurl }}/faq/">{% t faq.title %}</a></li>
        <li><a href="{{ site.baseurl }}/contact/">{% t contact.title %}</a></li>
      </ul>
    </div>
  </div>

  <p class="footer-copyright">&copy; 2020 {% t title %} All Rights reserved.</p>
</footer>
