<footer>
  <ul class="footer-list footer-logoblock">
    <li>&copy; 2020 {% t title %}</li>
    <li><a href="https://github.com/nztm/mekurun/"><i class="fab fa-github"></i> nztm/mekurun</a></li>
  </ul>
  <ul class="footer-list">
    <li><a href="{{ site.baseurl }}/#newcourse">{% t top.allmenu %}</a></li>
    <li><a href="{{ site.baseurl }}/#allmenu">{% t top.recent %}</a></li>
    <li><a href="{{ site.baseurl }}/projects">{% t top.projects %}</a></li>
    <li><a href="{{ site.baseurl }}/tips">{% t top.tips %}</a></li>
    <li><a href="{{ site.baseurl }}/news">{% t top.news %}</a></li>
  </ul>
  <ul class="footer-list">
    <li><a href="{{ site.baseurl }}/usage">{% t usage.title %}</a></li>
    <li><a href="{{ site.baseurl }}/about">{% t about.title %}</a></li>
    <li><a href="{{ site.baseurl }}/term-of-use">{% t termOfUse.title %}</a></li>
    <li><a href="{{ site.baseurl }}/privacy">{% t privacy.title %}</a></li>
  </ul>
  <ul class="footer-list">
    <li><a href="{{ site.baseurl }}/faq">{% t faq.title %}</a></li>
    <li><a href="{{ site.baseurl }}/contact">{% t contact.title %}</a></li>
  </ul>
</footer>
