<header>
  <a href="{{ site.baseurl }}/">top</a>
  <ul>
    <li><a href="/">メニューを見る</a></li>
    <li><a href="/">使い方を見る</a></li>
  </ul>
  <div class="kana-switch-cover">
    ひらがなモード
    {% if site.lang == "ja" %}
      {% capture link1 %}{{ site.baseurl_root }}/kana{{ page.url}}{% endcapture %}
      <a href="{{ link1 }}" title="ひらがなモードにする" class="kana-switch kana-switch-off"></a>
    {% elsif site.lang == "kana" %}
      {% capture link2 %}{{ site.baseurl_root }}{{ page.url  }}{% endcapture %}
      <a href="{{ link2 }}" title="ひらがなモードをやめる" class="kana-switch kana-switch-on"></a>
    {% endif %}
  </div>
</header>
