$main-color: #34a2df;
$main-dark: #2793cf;
$main-light: #7dc4ec;
$sub-color: #fe9161;
$text-color: #383a42;
$darkgray: #757881;
$lightgray: #d9e6f0;
$bg-gray: #f5f9fc;
$header-height: 60px;
$red: #fe9161;
$shadow-color: rgba($main-dark, 0.2);
$shadow: 0 0 4px $shadow-color;

/* noto-sans-jp-regular - latin_japanese */
@font-face {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(''),
       url('https://mekurun.com/assets/fonts/Noto_Sans_JP/noto-sans-jp-v28-latin_japanese-regular.woff2') format('woff2');
}
/* noto-sans-jp-500 - latin_japanese */
@font-face {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local(''),
       url('https://mekurun.com/assets/fonts/Noto_Sans_JP/noto-sans-jp-v28-latin_japanese-500.woff2') format('woff2');
}
/* noto-sans-jp-700 - latin_japanese */
@font-face {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local(''),
       url('https://mekurun.com/assets/fonts/Noto_Sans_JP/noto-sans-jp-v28-latin_japanese-700.woff2') format('woff2');
}

html {
  scroll-behavior: smooth; //スムーススクロール
}
body {
  margin: 0;
  color: $text-color;
  background-color: $bg-gray;
  font: 100%/1.7 'Noto Sans JP', 'Meiryo', 'メイリオ', sans-serif;
}
* {
  box-sizing: border-box;
}
h2 {
  color: $text-color;
  font-weight: 600;
  margin-top: 2em;
  letter-spacing: 0.05em;
  font-feature-settings: "palt";
}
h3 {
  margin-top: 1.75em;
}
a {
  color: $main-dark;
}
.pc-ignore {
  display: none;
}
.ph-ignore {
  display: inline-block;
}
@media screen and (max-width:730px) {
  .pc-ignore {
    display: inline-block;
  }
  .ph-ignore {
    display: none;
  }
}
/*ヘッダー*/
header {
  background-color: #fff;
  height: $header-height;
  margin: $header-height * 0.3 10vw;
  position: absolute;
  border-radius: $header-height / 2;
  box-shadow: $shadow;
  width: 80vw;
  color: $darkgray;
  font-weight: 500;
}
.header-nav-ul {
  height: $header-height;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  position: absolute;
  right: 16px;
  top: 0;
  li {
    display: inline-block;
  }
  a {
    font-weight: inherit;
    text-decoration: none;
    color: inherit;
    display: inline-block;
    &:not(.kana-switch){
      padding: .4rem;
      transition: all .1s;
      &:hover {
        color: $main-color;
      }
    }
  }
}
.header-nav-content {
  display: inline;
  background-color: #fff;
}
.header-nav-logo {
  height: $header-height;
  padding: $header-height * 0.25 $header-height * 0.5;
  @media screen and (max-width:730px) {
    padding-left: 20px;
  }
}
/* ひらがなスイッチ */
.kana-switch-cover {
  margin-left: 10px;
}
.kana-switch {
  width: 8rem;
  box-sizing: content-box;
  line-height: 1em;
}
.sub-button {
  padding: 10px 12px;
  border-radius: 2rem;
  background: $sub-color;
  &:hover {
    opacity: .8;
  }
}
a {
  &.sub-button {
    color: #fff;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
  }
}
.nav-cover {
  display: inline;
}
#nav-checkbox, .nav-switch {
  display: none;
}
@media screen and (max-width: 800px) {
  header {
    margin: 18px 20px;
    width: calc(100% - 40px);
  }
}
@media screen and (max-width:730px) {
  header {
    position: fixed;
    z-index: 1;
  }
  .header-nav-content {
    z-index: 1;
    padding: 20px;
    width: 100%;
    height: auto;
    top: 0;
    right: 20px;
    border-radius: 10px;
    background-color: #fff;
    text-align: center;
  }
  .nav-cover {
    display: none;
  }
  .header-nav-bg {
    background-color: #3338;
    position: absolute;
    top: -18px;
    width: 100vw;
    height: 100vh;
    left: -20px;
  }
  .header-nav-ul {
    position: static;
    display: block;
    height: auto;
    li {
      display: list-item;
      line-height: 2em;
    }
    a {
      display: inline-block;
      width: 100%;
    }
  }
  .kana-switch-cover {
    margin-left: 0;
    margin-top: 1rem;
  }
  .kana-switch {
    text-align: center;
    line-height: 1rem;
    box-sizing: border-box;
  }
  .nav-switch {
    display: inline-block;
    margin-right: 20px;
    line-height: $header-height;
    float: right;
    .fa-times {
      display: none;
    }
  }
  #nav-checkbox:checked ~ .nav-cover {
    display: flex;
  }
  #nav-checkbox:checked ~ .nav-switch .fa-bars {
    display: none;
  }
  #nav-checkbox:checked ~ .nav-switch .fa-times {
    display: inline;
  }
}
footer {
  background-color: #fff;
  border-top: 4px solid #34a2df;
  color: #5a5a5a;
  font-weight: bold;
  margin-top: 60px;
  padding: 36px;
  a {
    color: #5a5a5a;
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    text-decoration: none;
    &:hover {
      opacity: .7;
    }
  }
}
.footer-flex {
  display: flex;
}
.footer-list {
  width: 20%;
  margin: 12px;
  line-height: 1.8em;
  ul {
    padding: 0;
    margin: 4px 0;
    list-style: none;
  }
  h2 {
    margin: 0 0 0.5em;
    font-size: 1em;
    color: #3b3b3f;
  }
}
.footer-logoblock {
  width: 33%;
  line-height: 1.4em;
}
.footer-logo {
  height: 40px;
}
footer .footer-sns {
  align-items: center;
  border-radius: 5px;
  color: #fff;
  display: flex;
  font-size: 20px;
  font-weight: bold;
  height: 38px;
  justify-content: center;
  margin-right: 4px;
  padding: 4px 8px;
  text-align: center;
  width: 38px;
  &[clr='tw'] {
    background: #1DA1F2;
  }
  &[clr='fb'] {
    background: #3B5998;
  }
  &[clr='gh'] {
    background: #24292e;
  }
}
.footer-sns-buttons {
  display: flex;
  margin-top: 12px;
}
.footer-copyright {
  color: #999;
  font-size: 0.8em;
  margin: 12px;
}
@media screen and (max-width:890px) {
  .footer-flex {
    display: block;
    text-align: center;
  }
  .footer-logoblock, .footer-list {
    width: 100%;
    margin: 24px 0;
  }
  .footer-copyright {
    text-align: center;
  }
}
@mixin card($color: $lightgray) {
  border-radius: 10px;
  box-shadow: $shadow;
  transition: .2s;
  @media screen and (max-width:730px) {
    width: 100%;
    margin: 0 0 16px 0;
  }
}
@mixin card-hover($color: $lightgray) {
  &:hover {
    box-shadow: 0 0 12px $shadow-color;
    opacity: .8;
    transform: translateY(-4px);
  }
}
@mixin card-hover-cancel(){
  &:hover {
    box-shadow: $shadow;
    opacity: 1;
    transform: none;
  }
}
.top {
  padding: $header-height * 1.3 + 24px 10vw 24px;
  background-color: $main-color;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  flex-wrap: wrap;
  @media screen and (max-width:730px) {
    padding-top: $header-height * 1 + 24px;
  }
  h1 {
    width: 100%;
    text-align: center;
    letter-spacing: .1em;
  }
  p {
    margin-top: 0;
    text-align: center;
  }
}
.top-text p {
  text-align: left;
}
.top-mainvisual {
  width: 300px;
  display: block;
}
.top-text {
  margin-right: 2em;
}
.top-course-count {
  font-weight: 600;
}
@media screen and (max-width: 890px) {
  .top {
    flex-wrap: wrap;
  }
  .top-text {
    text-align: center;
    margin-right: 0;
    p {
      text-align: center;
    }
  }
  .top-mainvisual {
    margin: auto;
  }
}
.category-top {
  height: auto;
  color: $text-color;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  h1 {
    text-align: left;
  }
}
.category-top-img {
  padding: 30px;
  width: 100%;
}
.category-img-cover {
  width: 300px;
}
.category-top .category-title-sp {
  display: none;
  text-align: center;
}
.category-right {
  max-width: 500px;
  padding: 20px;
  p {
    text-align: left;
  }
}
@media screen and (max-width: 999px) {
  .category-top .category-title-sp {
    display: block;
  }
  .category-title-pc {
    display: none;
  }
  .category-img-cover {
    display: flex;
    align-items: center;
  }
  .category-top-img {
    padding: 0 12px 0 0;
    width: 40%;
  }
  .category-right {
    padding: 20px 0 0 0;
  }
}
.category-officialSite {
  text-align: center;
  background-color: #fff;
  padding: 14px;
  border-radius: 5px;
  color: $main-color;
  font-weight: 600;
  text-decoration: none;
  display: inline-block;
  width: 100%;
  &:hover {
    opacity: .9;
  }
}
.course-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  li {
    list-style: none;
    width: calc(33% - 6px);
    margin: 12px 0;
    @media screen and (max-width: 730px) {
      width: 100%;
      margin: 0 0 16px 0;
    }
  }
  &:not(.all-courses-list-ul) {
    li {
      background-color: #fff;
      @include card;
      @include card-hover;
    }
  }
  a.card-list-item {
    height: 100%;
  }
  .card-list-item {
    text-decoration: none;
    color: $text-color;
    font-weight: 500;
    padding: 12px;
    display: flex;
    flex-direction: column;
  }
  img {
    width: 100%; // 80vw * 0.33 - 12*2*2px = 26.4vw - 48px
    height: calc(13.86vw - 17.2px); // width * (630/1200)0.525
    border-radius: 5px;
    object-fit: cover;
    @media screen and (min-width:1500px) {
      height: 189px; // (1200px * 0.33 - 36px) * (630/1200 = 0.525)
    }
    @media screen and (max-width: 800px) {
      height: calc(((100vw - 40px) * 0.33 - 32px) * 0.525);
    }
    @media screen and (max-width: 730px) {
      height: calc((100vw - 40px - 24px - 4px) * 0.525);
    }
  }
}

@media screen and (min-width: 730px) {
  .course-list:not(.news-list) li:not(:nth-child(3n)) {
    margin-right: 12px;
  }
}
@media screen and (max-width: 730px) {
  /*横スクロールリスト。モバイルフレンドリーの問題から、一旦使っていない。*/
  .horizontal-list {
    overflow-x: auto;
    flex-wrap: nowrap;
    margin: 10px -20px;
    &::-webkit-scrollbar {
      height: 8px;
    }
    &::-webkit-scrollbar-thumb {
      background: #34a2df88;
      border-radius: 4px;
    }
    &:after {
      content:'';
      display: block;
      min-width: 14px;
      width: 14px;
    }
    li {
      width: 80%;
      min-width: 80%;
      margin: 0 6px 12px;
      &:first-child {
        margin-left: 20px;
      }
    }
    img {
      height: calc((100vw - 28px) * 0.525 * 0.79);
    }
  }
}
.course-list-title {
  margin: 0.8em 0 0.6em 0;
}
.top-course-list-category {
  color: $darkgray;
  display: inline-block;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 5px;
  font-weight: 500;

  background: $main-color;
  border-radius: 2rem;
  padding: 2px 14px;
  color: #fff;
  margin-right: .5rem;
}
.top-course-list-difficulty {
  border-radius: 2rem;
  padding: 0 10px;
  border: solid 2px $main-color;

  color: $darkgray;
  display: inline-block;
  margin-top: auto;
  font-weight: 500;
  &:before {
    content: "\f005";
    font-weight: 900;
    font-family: 'Font Awesome 5 Free';
    opacity: .8;
    margin-right: .3rem;
    color: $main-color;
  }
}
.article-list-title {
  margin: 8px 0;
  font-size: 1rem;
  font-weight: 500;
}
.article-list-date {
  margin: 4px 0;
  font-weight: 600;
  color: $darkgray;
}
.news-list {
  li.article-list-one {
    width: 100%;
    margin: 6px 0;
    a {
      display: block;
    }
  }
  .article-list-date, .article-list-title {
    display: inline-block;
  }
}
.article-list-tag {
  background: $main-color;
  color: #fff;
  font-weight: bold;
  padding: 3px 12px;
  border-radius: 1rem;
  margin: 0 12px;
}
.bg-note {
  background: #41C9B4;
}
.bg-Qiita {
  background: #55c500;
}
.bg-アップデート {
  background: $red;
}
.main {
  margin: auto 10vw;
  max-width: 1200px;
  h2:before {
    content: '\f02d';
    font-family: 'Font Awesome 5 Free';
    color: $main-color;
    opacity: .8;
    margin-right: 8px;
  }
  img {
    max-width: 100%;
  }
  @media screen and (min-width:1500px) {
    margin: auto auto;
  }
  @media screen and (max-width:800px) {
    margin: auto 20px;
  }
}
.list-category {
  display: flex;
  @media screen and (max-width:880px) {
    flex-wrap: wrap;
  }
}
.list-category-one {
  background: #fff;
  @include card;
  @include card-hover;
  color: $text-color;
  display: flex;
  margin: 12px 0;
  padding: 12px;
  text-decoration: none;
  width: 50%;
  @media screen and (max-width:880px) {
    width: 100%;
  }
  @media screen and (min-width: 730px) {
    &:not(:nth-child(2n)) {
      margin-right: 12px;
    }
  }
}
.list-category-link {
  text-align: right;
  color: $main-dark;
  margin-bottom: 0;
  font-weight: 600;
  margin-top: auto;
}
.list-category-thumbnail {
  display: flex;
  align-items: center;
  padding: 20px;
  border-radius: 5px;
}
.list-category-img {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 120px;
  width: 120px;
  padding: 12px;
  border-radius: 4px;
  img {
    max-width: 100%;
    max-height: 100%;
  }
}
.list-category-text {
  margin: 0 0 0 20px;
  color: #888;
  display: flex;
  flex-direction: column;
  width: 100%;
}

@media screen and (max-width:500px) {
  .list-category-one {
    flex-wrap: wrap;
  }
  .list-category-img {
    width: 100%;
    height: 140px;
  }
  .list-category-text {
    margin: 4px 0 0 0;
  }
}
.list-category-heading {
  display: inline;
  font-size: 1.6em;
  color: #555;
  margin: 12px 0;
}

.button {
  font: inherit;
  -webkit-appearance: none;
  box-shadow: $shadow;
  border-radius: 4px;
  background: #fff;
  padding: 16px 12px;
  font-weight: bold;
  outline: none;
  text-decoration: none;
  color: inherit;
  text-align: center;
  cursor: pointer;
  line-height: 1em;
  &:hover {
    opacity: 0.7;
  }
}
.button-round {
  @extend .button;
  border-radius: 2rem;
  color: $main-color;
  padding: 12px 24px;
}
.btn-article {
  display: block;
  margin: 1rem auto;
  max-width: 400px;
  a {
    color: inherit;
    text-decoration: none;
  }
}
.btn-white {
  background-color: #fff;
  color: $main-color;
}
.btn-blue {
  background-color: $main-color;
  color: #fff;
}
.label {
  background-color: #eee;
  padding: 8px;
  margin-top: 12px;
  border-radius: 4px;
  text-decoration: none;
  color: $darkgray;
  display: inline-block;
}

.post-list-heading {
  position: relative;
}
.post-list-more {
  display: inline-block;
  margin-left: 12px;
  a {
    font-size: 16px;
    color: $main-dark;
    text-decoration: none;
    &:hover {
      opacity: .7;
    }
  }
}

#support {
  text-align: center;
  background: $main-color;
  padding: 50px 12px;
  //background-image: repeating-linear-gradient(-45deg, transparent, transparent 10px, rgba(184, 242, 255, 0.1) 10px,  rgba(184, 242, 255, 0.1) 20px);
  background-image: url('https://res.cloudinary.com/nztm/image/fetch/c_fit,q_auto,f_auto/https://mekurun.com/assets/images/bg.svg');
  margin-top: 60px;
  margin-bottom: -60px;
  background-size: 35% auto;
  @media screen and (max-width: 730px) {
    background-size: 90% auto;
  }
}
.support-heading {
  color: #fff;
  margin: 0;
  font-size: 1.6rem;
  font-weight: bold;
}
.support-button-header {
  border-radius: 2rem;
  max-width: 240px;
}
.support-button {
  background: #fff;
  padding: 12px;
  text-decoration: none;
  border-radius: 36px;
  color: $main-color;
  display: inline-block;
  width: 360px;
  font-weight: bold;
  margin-top: 18px;
  position: relative;
  transition: all .3s;
  max-width: 100%;
  font-size: 1.1rem;
  animation: 2.5s ease-in-out infinite fuwafuwa;
  &::after {
    content: '\f35d';
    font-family: 'Font Awesome 5 Free';
    position: absolute;
    right: 24px;
  }
  &:hover {
    opacity: .85;
  }
}
@keyframes fuwafuwa {
  0% { transform: scale(1); }
  50% { transform: scale(1.03); }
  100% { transform: scale(1); }
}
.main .supporter-h::before {
  content: '\f7e4';
}
.supporter-h {
  margin-bottom: 0;
}
.supporter-list {
  margin: 24px auto 0;
  max-width: 800px;
   text-align: center;
  span{
    display: inline-block;
    &:not(:last-child)::after {
      content: ', ';
    }
  }
}
.supporter-imgs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.supporter-w-img {
  width: 20%;
  padding: 24px;
  @media screen and (max-width: 730px) {
    width: 33%;
    padding: 8px;
  }
}
.supporter-img {
  border-radius: 50%;
}
.supporter-w-img-name {
  margin: .2rem 0 1rem;
  text-align: center;
  word-break: break-all;
  @media screen and (max-width: 730px) {
    margin: .2rem 0;
  }
}
.support-plans {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr;
  @media screen and (max-width: 730px) {
    grid-template-columns: 1fr 1fr;
  }
  @media screen and (max-width: 530px) {
    grid-template-columns: 1fr;
  }
}
.support-plan {
  @include card;
  background: #fff;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}
.lp-main .support-plan-price {
  text-align: left;
  margin: .5em 0 0;
}
.support-plan-ul {
  margin-top: .5em;
  font-size: .8em;
  padding-left: 2em;
}
.support-plan-button {
  margin-top: auto;
}
.support-plan-unit {
  font-size: .8em;
  &::before {
    content: ' ';
  }
}
/*
.top-white {
  color: $text-color;
  background: #fff;
}
*/

/*ここからLP*/
.top-copy {
  margin-top: 0;
  margin-bottom: 12px;
  @media screen and (max-width: 730px) {
    margin-top: 0.7em;
  }
}
.lp-top {
  text-align: center;
  min-height: 420px;
  h1 {
    font-size: 2.5rem;
  }
}

.lp-main {
  h2 {
    text-align: center;
    font-size: 1.8rem;
    &::before {
      display: none;
    }
  }
  h3 {
    text-align: center;
    font-size: 1.3rem;
  }
}
/*
.three-blocks {
  display: flex;
  flex-wrap: wrap;
}
.three-blocks-item {
  width: 33%;
  padding: 20px;
  @media screen and (max-width: 730px) {
    width: 100%;
  }
  h3 {
    text-align: center;
  }
  img {
    @media screen and (min-width: 731px) {
      height: 200px;
    }
    margin: auto;
    display: block;
    padding: 0 20px;
  }
}
*/
.owners {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2%;
  max-width: 500px;
  margin: auto;
}
.owner {
  padding: 24px;
  p {
    text-align: center;
    margin-bottom: .5rem;
    margin-top: .5rem;
    text-align: center;
  }
  img {
    max-width: 160px;
    @media screen and (max-width: 730px) {
      max-width: 100px;
    }
    display: block;
    margin: auto;
    border-radius: 50%;
    box-shadow: 0 0 0 5px #fff;
  }
}
.writor-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 2%;
  list-style: none;
  padding: 0;
  margin: 2rem auto 0;
  max-width: 600px;
}
.writor {
  img {
    max-width: 120px;
    @media screen and (max-width: 730px) {
      max-width: 80px;
    }
    display: block;
    margin: auto;
    border-radius: 50%;
    box-shadow: 0 0 0 5px #fff;
  }
}
.writor-name {
  text-align: center;
  margin-top: .3rem;
}

.h2-sub {
  text-align: center;
  font-weight: bold;
  color: $darkgray;
}

.feature-one {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5rem;
  @media screen and (max-width: 730px) {
    margin-top: 3rem;
    flex-direction: column-reverse;
  }
  @media screen and (min-width: 731px) {
    &:not(:nth-of-type(2n+1)) {
      flex-direction: row-reverse;
      img {
        padding: 0 0 0 24px;
      }
    }
  }
  h3 {
    text-align: left;
    margin: 0;
    @media screen and (max-width: 730px) {
      text-align: center;
    }
  }
  img {
    display: block;
    margin: auto;
    padding-right: 24px;
    width: 50%;
    @media screen and (max-width: 730px) {
      width: 100%;
      padding-right: 0;
    }
  }
}
.feature-text {
  width: 50%;
  @media screen and (max-width: 730px) {
    width: 100%;
  }
}

.heading-sub {
  color: $darkgray;
  font-weight: bold;
  text-align: center;
  margin: 0 0 1em;
}
