---
layout: default
---
{{content}}
{% include header.html %}
<div class="top category-top" style="background-color: #{{ page.color }}">
  <div class="category-img-cover">
    <img data-src="{{ site.url }}/assets/images/{{ page.categoryname }}.svg" alt="{% t page.title %}" class="category-top-img" data-width="300">
    <h1 class="category-title-sp">{% t page.title %}</h1>
  </div>
  <div class="category-right">
    <h1 class="category-title-pc">{% t page.title %}</h1>
    <p>{% t page.description %}</p>
    <a href="{{ page.website }}" class="category-officialSite" target="_blank"  rel="noopener">{% t page.title %} {% t category.official %} <i class="fas fa-external-link-alt"></i></a>
  </div>
</div>
<div class="main">
  {% include course-list.html difficulty="introduction" %}
  {% include course-list.html difficulty="easy" %}
  {% include course-list.html difficulty="normal" %}
  {% include course-list.html difficulty="hard" %}
</div>
{% include support.html %}
{% include footer.html %}

<style media="screen">
  #normal h2::before {
    color: #ffb801;
  }
  #easy h2::before {
    color: #8bca31;
  }
  #hard h2::before {
    color: #ff81ae;
  }

  .main h2::before {
    content: "\f005";
    font-weight: 900;
  }
</style>
