---
layout: default
---
<section class="slide-page page-course" id="slidesCover">
{{ content }}

<a href="{{ site.baseurl }}/{{page.category}}#{{page.difficulty}}" class="label">{% t category.{{page.category}}.title %} <i class="fas fa-angle-right"></i> {% t difficulty.{{page.difficulty}} %}</a>
<div class="slides-top">
  <div class="slides-top-info">
  {% assign parents = site.courses | where:"course-name", page.parent %}
  <a class="link-to-parent" href="{{ site.baseurl }}/{{page.category}}/{{page.parent}}">{{ parents[0].title }}</a>
  <h2>{{page.title}}</h2>
  </div>
  {% capture pdfpath %}{% if page.parent %}{{site.url}}/assets/course/{{ page.category }}/{{ page.parent }}{% else %}{{site.url}}/assets/course/{{ page.category }}{% endif %}/{{ page.course-name }}/slide.pdf{% endcapture %}
  <a class="button button-export" href="{{ pdfpath }}" target="_blank" rel="noopener">{% t course.export %}</a>
</div>
<div id='slides'>
  <div class="slide"></div>
  {% for slide in page.slides %}
    {% assign firstword = slide | split: "/" | first %}

    {% if firstword == '' %}
    {% capture src %}{% if page.parent %}{{site.url}}/assets/course/{{ page.category }}/{{ page.parent }}/{{ page.course-name }}{{ slide }}{% else %}{{site.url}}/assets/course/{{ page.category }}/{{ page.course-name }}{{ slide }}{% endif %}{% endcapture %}
    <img data-src="{{ src }}" src="{{ src }}" data-width="800" loading="auto" alt="" id="page-{{forloop.index}}" style="display:none;">
    {% elsif firstword == 'https:' %}
    <iframe width="560" height="315" loading="auto" src="https://www.youtube.com/embed/{{slide | split: '/' | last}}?rel=0&fs=0&modestbranding=1&enablejsapi=1&disablekb=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="display:none;" id="page-{{forloop.index}}"></iframe>
    {% endif %}
  {% endfor %}
</div>
<div class="progress-cover">
  <div class="progress-bar">
    <div id="progress-container">
    </div>
  </div>
  <span id="progress-number"></span>
</div>
<div class="slide-buttons">
  <input class="button button-back" type="button" value="{% t course.prev %}" id="buttonBack" disabled/>
  <input class="button button-next" type="button" value="{% t course.next %}" id="buttonNext"/>
</div>
</section>
<section class="slide-page">
  {% assign subcourses = site.courses | where_exp:"c",
  "c.parent == page.course-name" %}
  {% if subcourses.size > 0 %}
  <h2>{% t course.subcourses %}</h2>
  <ul class="course-list">
  {% for course in subcourses %}
  {% assign course_lang = course.path | slice: 9, 2 %}
  {% if course_lang == site.lang %}
    <li><a href="{{ site.baseurl }}{{course.url}}"><img data-src="{{ site.url }}/assets/course/{{ course.category }}/{{ course.parent }}/{{ course.course-name }}{{ course.thumbnail }}" data-width="212" alt="{{ course.title }}" loading="auto">{{course.title}}</a></li>
  {% endif %}
  {% endfor %}
  {% endif %}
  </ul>
</section>

<script>
window.addEventListener('load', function(){ bootCourseSlideController({
  lastPage: {{ page.slides.size }}
})})
</script>
