---
layout: default
---
<section class="slide-page page-course" id="slidesCover">
{{ content }}

<a href="{{ site.baseurl }}/{{page.category}}#{{page.difficulty}}" class="label">{% t category.{{page.category}}.title %} / {% t difficulty.{{page.difficulty}} %}</a>
<div class="slides-top">
  <div class="slides-top-info">
  {% assign parents = site.courses | where:"course-name", page.parent %}
  <a class="link-to-parent" href="{{ site.baseurl }}/{{page.category}}/{{page.parent}}">{{ parents[0].title }}</a>
  <h2>{{page.title}}</h2>
  </div>
  {% capture pdfpath %}{% if page.parent %}{{site.url}}/assets/course/{{ page.category }}/{{ page.parent }}{% else %}{{site.url}}/assets/course/{{ page.category }}{% endif %}/{{ page.course-name }}/slide.pdf{% endcapture %}
  <span class="button button-export" onclick="var ok=confirm('ご利用規定で定められた範囲でのご利用をお願いします。\n\nご利用規定は以下のページでご確認いただけます。 \nhttps://mekurun.com/term-of-use'); if(ok) location.href='{{ pdfpath }}'; return false; ">{% t course.export %}</span>
</div>
<div id='slides'>
  <div class="slide"></div>
  {% for slide in page.slides %}
    {% assign firstword = slide | split: "/" | first %}

    {% if firstword == '' %}
    {% capture src %}{% if page.parent %}{{site.url}}/assets/course/{{ page.category }}/{{ page.parent }}/{{ page.course-name }}{{ slide }}{% else %}{{site.url}}/assets/course/{{ page.category }}/{{ page.course-name }}{{ slide }}{% endif %}{% endcapture %}
    <img data-src="{{ src }}" src="{{ src }}" data-width="800" loading="auto" alt="" id="page-{{forloop.index}}" style="display:none;">
    {% elsif firstword == 'https:' %}
    <iframe width="560" height="315" loading="auto" src="https://www.youtube.com/embed/{{slide | split: '/' | last}}?rel=0&fs=0&modestbranding=1&enablejsapi=1&disablekb=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="display:none;" id="page-{{forloop.index}}"></iframe>
    {% endif %}
  {% endfor %}
</div>
<div class="progress-cover">
  <div class="progress-bar">
    <div id="progress-container">
    </div>
  </div>
  <span id="progress-number"></span>
</div>
<div class="slide-buttons">
  <input class="button button-back" type="button" value="{% t course.prev %}" onclick="back()" id="buttonBack" disabled/>
  <input class="button button-next" type="button" value="{% t course.next %}" onclick="next()" id="buttonNext"/>
</div>
</section>
<section class="slide-page">
  {% assign subcourses = site.courses | where_exp:"c",
  "c.parent == page.course-name" %}
  {% if subcourses.size > 0 %}
  <h2>{% t course.subcourses %}</h2>
  <ul class="course-list">
  {% for course in subcourses %}
  {% assign course_lang = course.path | slice: 9, 2 %}
  {% if course_lang == site.lang %}
    <li><a href="{{ site.baseurl }}{{course.url}}"><img data-src="{{ site.url }}/assets/course/{{ course.category }}/{{ course.parent }}/{{ course.course-name }}{{ course.thumbnail }}" data-width="212" alt="{{ course.title }}" loading="auto">{{course.title}}</a></li>
  {% endif %}
  {% endfor %}
  {% endif %}
  </ul>
</section>
<script>
var now = 1;
let progressbarNum = document.getElementById("progress-number");
let progressbarContainer = document.getElementById("progress-container");
let allPageCount = {{ page.slides.size }};

function getQueries() {
  let query= window.location.search.slice(1);
  let queries = {};
  query.split('&').forEach(function(query) {
    let queryArr = query.split('=');
    queries[queryArr[0]] = queryArr[1];
  });

  return queries;
}

function set() {
  let queries = getQueries();
  if(queries["page"] != null){
    now = parseInt(queries["page"]);
  }
  document.getElementById("buttonBack").disabled = now == 1;
  document.getElementById("buttonNext").disabled = now == allPageCount;
  document.getElementById("page-"+now).style.display ="block";
  progressbarContainer.style.width = (now / allPageCount) * 100 + "%";
  progressbarNum.innerHTML = now +" / "+ allPageCount;
  progressbarNum.style.width = 'calc(' + (String(allPageCount).length * 2 + 1) + 'em + 4px)';
  var slide = document.getElementsByClassName("slide")[0];
  slide.style.position = 'absolute';
}

window.onload = set();
function switchPage(flipPageCounts, buttonName) {
  document.activeElement.blur();
  let nextPageCount = now+flipPageCounts;
  let nextPage = document.getElementById("page-"+nextPageCount);
  let thisButton = document.getElementById(buttonName);
  let otherButtonName = buttonName == "buttonNext" ? "Back" : "Next";
  let otherButton = document.getElementById("button"+otherButtonName);
  if(nextPage != null){
    document.getElementById("page-"+now).style.display ="none";
    nextPage.style.display="block";
    now += flipPageCounts;
    nextPageCount += flipPageCounts;
    progressbarContainer.style.width = (now / allPageCount) * 100 + "%";
    progressbarNum.innerHTML = now +" / "+ allPageCount;
    thisButton.disabled = nextPageCount > allPageCount || nextPageCount < 1;
    otherButton.disabled = false;
  }
  const url = new URL(location);
  url.searchParams.set("page", now);
  location.href = url.toString();
}
function next() {
  switchPage(1, "buttonNext");
}
function back() {
  switchPage(-1, "buttonBack");
}

// 矢印キーでのページ切り替え Switch pages by ←, →
window.document.onkeydown = function(event){
    if (event.key === 'ArrowRight' || event.key === ' ') {
        next()
      }
    else if (event.key === 'ArrowLeft') {
        back()
         }
      }

</script>
