<!DOCTYPE html>
<html lang="ja" dir="ltr">
  <head>
    <meta charset="utf-8">
    {% capture title %}
      {% if page.course-name or page.layout == 'post' %}
      {{page.title}}
      {% else %}
      {% t {{page.title}} %}
      {% endif %}
       | {{ site.copy }}{% endcapture %}
    {% assign title = title | replace: "
      ", ""%}
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
    {% if page.course-name %}
    <meta property="og:title" content="{% t category.{{page.categories}}.title %}: {{ title }}">
    {% else %}
    <meta property="og:title" content="{{ title }}">
    {% endif %}
    <meta property="og:site_name" content="メクルン">
    <meta property="og:url" content="{{ site.url }}">
    <meta property="og:description" content="{{ page.description }}">
    <meta property="og:type" content="website">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  </head>
  <body>
    {{content}}
  </body>
  <!-- 遅延読み込み -->
  <script src="https://kit.fontawesome.com/734fe914a1.js" crossorigin="anonymous"></script>
</html>
