---
layout: default
---
{% include header.html %}
<div class="top post-top"></div>
<div class="post-main">
  <nav>
    <ol class="breadcrumbs">
      <li><a href="/">{% t top.title %}</a></li>
      <li><i class="fas fa-angle-right"></i> <a href="/{{page.category}}">{% t {{page.category}}.title %}</a></li>
    </ol>
  </nav>
  <div class="post-content">
    <h1>{{ page.title }}</h1>
    <p class="post-date">{{ page.date | date: "%Y年%m月%d日" }}</p>
    {% if page.author %}
    <p class="author">{{ page.author }}</p>
    {% endif %}
    {% if page.thumbnail %}
    <img data-src="{{ site.url }}/assets/article/{{ page.category }}{{ page.thumbnail }}"
    data-width="810" alt="{{ page.title }}" class="post-thumbnail">
    {% endif %}
    {{content}}
  </div>
  <a href="/{{page.category}}" class="button" style="display: block;color: #34a2df;">記事一覧に戻る</a>
</div>
{% include footer.html %}
