---
layout: default
---
<section class="post-content" id="slidesCover">
{{ content }}
  <div class="slide-buttons">
    <input class="button-back" type="button" value="<" onclick="back()"/>
    <input class="button-next" type="button" value=">" onclick="next()"/>
  </div>
<div style="width:calc( {{page.img.size}} * 100vw) " id='slides'>
  {% for img in page.img %}
    <img src="/img/{{ img }}" alt="" style="max-width:{{100| divided_by: page.img.size }}%">
  {% endfor %}
</div>
</section>
<script>
function next() {
  var slide = document.getElementById("slidesCover");
  slide.scrollLeft += window.innerWidth;
}
function back() {
  var slide = document.getElementById("slidesCover");
  slide.scrollLeft -= window.innerWidth;
}
</script>
